.about-body {
  color: white;
  background-color: rgb(45, 47, 58);
}

.about-body h2 {
  color: white;
  text-shadow: none;
}

li {
  text-decoration: none;
}

.lists {
  list-style: square;
  text-align: justify;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .text-dev {
    font-size: 0.7rem;
    width: 100%;
  }
  .card-responsive {
    width: 100%;
  }
}
