.cart {
  position: fixed;
  top: 70%;
  z-index: 100000;
  margin: 0;
  width: 100%;
  height: 220px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 15px;
}

@media (max-width: 990px) {
  .cart {
    display: none;
  }
  .card-body {
    height: 200px;
  }
  .image_carrousel {
    height: 300px;
  }
  .username-nav {
    display: none;
  }
}
