.image {
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
  height: 300px;
}

body {
  background: white;
}

.price {
  font-size: 30px;
}

.name {
  font-size: 1rem;
}

.carrousel-text {
  background-color: #1d4e89c4;
  border-radius: 10px;
}

.p2 {
  font-size: 1.6rem;
}
.p1 {
  font-size: 0.8rem;
}

.poster-bg {
  height: 600px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.849),
      rgba(43, 3, 43, 0.671)
    ),
    url("https://images.unsplash.com/photo-1461151304267-38535e780c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
}

.subtitle {
  margin-top: 20px;
  font-weight: 200;
}
.subtitle span {
  color: #f50057;
  font-weight: 300;
}
